@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.accountSettings {
    &__container {
        margin: 30px;
        font-family: 'Josefin Sans Light';
        @include tablet {
            margin: 60px;
        }
    }
    &__mainHeading {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;            
        }
    }
    &__updateHeading {
        font-size: $h1_text_size_m;
        color: $bluebell;
        @include tablet {
            font-size: $h1_text_size_dt;
        }
    }
    &__deleteHeading {
        font-size: $h5_text_size_m;
        color: red;
        @include tablet {
            font-size: $h5_text_size_dt;
        }
    }
    &__form {
        margin-top: 20px;
        @include desktop {
            margin-top: 40px;
        }
    }
    &__profilePic {
        font-size: $h3_text_size_m;
        @include tablet {
            font-size: $h3_text_size_dt;
        }
    }
    &__profilePicContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    &__currentPic {
        padding: 20px;
        width: 40vw;
        @include tablet {
            width: 25vw;
        }
        @include desktop {
            padding-right: 30px;
            width: 15vw;
        }
    }
    &__userIcon {
        padding: 20px;
        width: 20px;
        height: 20px;
        border-radius: 20vw;
        background-color: $pale_lavender;
    }
    &__infoContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        @include tablet {
            margin-top: 0;
        }
        @include desktop {
            align-items: center;
        }
    }
    &__userInfo {
        margin: 40px 0 10px 0;
        font-size: $h3_text_size_m;
        @include tablet {
            margin: 50px 0 15px 0;
            font-size: $h3_text_size_dt;
        }
        @include desktop {
            margin: 60px 0 20px 0;
        }
    }
    &__infoInput {
        padding: 10px;
        font-size: $h4_text_size_m;
        border: 1px solid $bluebell;
        border-radius: 10px;   
        @include tablet {
            padding: 20px;
            border-radius: 20px;
            font-size: $h4_text_size_dt;
        }
        @include desktop {
            width: 30vw;
            text-align: center;
        }
    }
    &__infoInput:focus {
        outline: $lavender_blues solid 1px;
    }
    &__updateButton {
        margin: 50px 0;
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        background-color: $bluebell;
        font-family: 'Josefin Sans Semi Bold';
        font-size: $h3_text_size_m;
        color: $white;
        @include tablet {
            padding: 30px 40px;
            border-radius: 20px;
            font-size: $h3_text_size_dt;
            width: 30vw;
        }
        @include desktop {
            width: 15vw;
        }
    }
    &__updateButton:hover {
        background-color: $white;
        color: $bluebell;
        transition: 0.5s;
    }
}