@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.aboutUsTitle {
    &__heading {
        font-family: 'Josefin Sans Light Italic';
        color: $lavender_blues;
        font-size: $h1_text_size_m;
        line-height: $h1_line_height_m;
        @include tablet {
            font-size: $h1_line_height_dt;
        }
    }
}