@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.aboutMePic {
    &__container {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    &__image {
        border-radius: 50px;
        width: 60%;
    }
}