@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.write {
    &__container {
        font-family: 'Josefin Sans Light';
        margin-top: 10px;
        @include tablet {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
        }
    }
    &__image {
        width: 100%;
        object-fit: cover;
        @include tablet {
            width: 60%;
            border-radius: 20px;
        }
        @include desktop {
            margin: 0 50px;
            width: 40%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            margin: 40px 60px 0px 0px; 
        }
    }
    &__inputContainer {
        margin-top: 30px;
        display: flex;
        align-items: center;
        @include tablet {
            margin-top: 40px;
        }
    }
    &__plusIcon {
        width: 10px;
        height: 10px;
        color: $dark_mint;
        text-align: center;
        font-size: $h1_text_size_m;
        cursor: pointer;
        @include tablet {
            font-size: $h1_text_size_dt;
        }
    }
    &__titleInput,
    &__textInput {
        font-family: 'Josefin Sans Light';
        padding: 10px;
        border: 1px solid $bluebell;
        border-radius: 10px;   
        @include tablet {
            padding: 20px;
            border-radius: 20px;
        }
    }
    &__titleInput:focus,
    &__textInput:focus {
        outline: $lavender_blues solid 1px;
    }
    &__titleInput {
        margin-left: 10px;
        font-size: $h2_text_size_m;
        line-height: $h2_line_height_m;
        width: 60vw;
        color: $quick_silver;
        @include tablet {
            margin-left: 20px;
            font-size: $h2_text_size_dt;
            line-height: $h2_line_height_dt;
            width: 30vw;
        }
        @include desktop {
            width: 20vw;
        }
    }
    &__textInput {
        width: 70vw;
        height: 20vh;
        resize: none;
        font-size: $h4_text_size_m;
        line-height: $h4_line_height_m;
        @include tablet {
            font-size: $h4_text_size_dt;
            line-height: $h4_line_height_dt;
        }
        @include desktop {
            width: 35vw;
        }
    }
    &__submit {
        margin: 50px 0;
        padding: 20px 30px;
        border: none;
        border-radius: 10px;
        background-color: $bluebell;
        font-family: 'Josefin Sans Semi Bold';
        font-size: $h3_text_size_m;
        color: $white;
        @include tablet {
            padding: 30px 40px;
            border-radius: 20px;
            font-size: $h3_text_size_dt;
        }
    }
    &__submit:hover {
        background-color: $white;
        color: $bluebell;
        transition: 0.5s;
    }
}