@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.welcomeText {
    &__container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans Regular';
    }
    &__heading {
        text-align: center;
        font-size: $h3_text_size_m;
        color: $lavender_blues;
    }
    &__description {
        text-align: center;
        font-size: $h4_text_size_m;
        color: $dark_mint;
    }
}