@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.homePagePosts {
    &__container {
        flex: 9;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            justify-content: center;
        }
    }
}