@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.singlePost {
    &__container {
        font-family: 'Josefin Sans Light';
        margin-top: 10px;
        @include tablet {
            flex: 9;
            margin-top: 20px;
        }
        @include desktop {
            margin-top: 40px;
        }
    }
    &__imageContainer {
        @include desktop {
            display: flex;
            justify-content: center;
        }
    }
    &__image {
        width: 100%;
        object-fit: cover;
        @include tablet {
            border-radius: 0 50px 50px 0;
        }
        @include desktop {
            width: 60%;
            border-radius: 50px;
        }
    }
    &__textWrap {
        margin: 10px 20px;
        @include tablet {
            margin: 10px 50px;
        }
        @include desktop {
            text-align: center;
        }
    }
    &__headingContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include desktop {
            justify-content: space-around;
        }
    }
    &__heading {
        font-family: 'Josefin Sans Medium';
        font-size: $h1_text_size_m;
        color: $soft_mint;
        @include tablet {
            font-size: $h1_text_size_dt;
            margin-bottom: 35px;
        }
    }
    &__editIcons {
        display: flex;
        flex-direction: row;
    }
    &__editIcon,
    &__deleteIcon {
        width: 100%;
        height: 15px;
        @include tablet {
            height: 20px;
        }
    }
    &__editIcon {
        margin-right: 10px;
        @include tablet {
            margin-right: 20px;
        }
    }
    &__info {
        margin-bottom: 30px;
        @include desktop {
            margin-bottom: 35px;
        }
    }
    &__author {
        margin: 0 0 5px 0;
        font-size: $h3_text_size_m;
        color: $lavender_blues;
        @include tablet {
            font-size: 0 0 10px 0;
            font-size: $h3_text_size_dt;
        }
    }
    &__date {
        font-family: 'Josefin Sans Regular';
        font-size: $h5_text_size_m;
        color: $lavender_blues;
        @include tablet {
            font-size: $h5_text_size_dt;
        }
    }
    &__description {
        font-family: 'Josefin Sans Regular';
        font-size: $h3_text_size_m;
        line-height: $h4_line_height_dt;
        color: $lavender_blues;
        @include tablet {
            font-size: $h3_text_size_dt;
            line-height: $h3_line_height_dt;
        }
    }
}