@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.navLogo {
    &__element {
        width: 100px;
        @include tablet {
            width: 120px;
        }
        @include desktop {
            width: 170px;
        }
    }
}