@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.navLogo {

    &__element {
        padding-right: 20vw;
        width: 40vw;
        @include tablet {
            padding-right: 0;
            width: 20vw;
        }
    }
}