@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.hotTopics {
    &__container {
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans Light';        
    }
}
.hotTopicsText {
    &__heading {
        font-size: $h3_text_size_m;
        color: $lavender_blues;
    }
    &__list {
        text-decoration: none;
        list-style: none;
        padding-left: 0;
    }
    &__listItem {
        margin-bottom: 20px;
        font-size: $h5_text_size_m;
        color: $dark_mint;
    }
}
.hotTopicsImage {
    &__image {
        width: 30vw;
    }
}