@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.homePagePost {
    &__container {
        margin: 0 50px 60px 50px;         
        @include tablet {
            width: 200px;   
            margin: 0 30px 40px 30px;  
        }
        @include desktop {
            width: 385px;
            margin: 0 60px 80px 60px;
        }
    }
    &__postImage {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
        @include desktop {
            height: 360px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        @include tablet {
            align-items: center;
        }
    }
    &__categories {
        margin: 15px 10px 0 0;
        font-family: 'Josefin Sans Regular';
        font-size: $h5_text_size_m;
        line-height: $h5_line_height_m;
        color: $lavender_blues;
        @include tablet {
            font-size: $h5_text_size_dt;
            line-height: $h5_line_height_dt;
        }
    }
    &__category {
        margin-right: 10px;
        @include tablet {
            margin: 0 5px;   
        }
    }
    &__postTitle {
        margin-top: 15px;
        font-family: 'Josefin Sans Semi Bold';
        font-size: $h2_text_size_m;
        color: $dark_mint;
        cursor: pointer;
        @include tablet {
            font-size: $h2_text_size_dt;
        }
    }
    &__timestamps {
        margin-top: 0px;
        font-family: 'Josefin Sans Light Italic';
        font-size: $h5_text_size_m;
        color: $bluebell;
        @include tablet {
            font-size: $h5_text_size_dt;
        }
    }
    &__description {
        margin-top: 15px;
        font-family: 'Josefin Sans Regular';
        font-size: $h4_text_size_m;
        line-height: $h4_line_height_dt;
        color: $lavender_blues;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @include desktop {
            font-size: $h4_text_size_dt;
        }
    }
}