@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.navBar {
    &__container {
        top: 0;
        position: sticky;
        height: 100%;   
        background-color: $white;     
        display: flex;   
        flex-direction: column; 
        padding-bottom: 5px;
    }
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px 10px 20px;           
    }
    &__links {
        padding: 10px 0;
        background-color: $pale_lavender;
        @include mobile {
            display: none;
        }
    }
}
.navBurger {
    &__container {
        @include tablet {
            display: none;
        }
    }
}
.navLinks {
    &__container {
        display: flex;
        justify-content: center;
        list-style: none;
        @include mobile {
            display: none;
        }
    }
    &__element {
        font-family: 'Josefin Sans Regular';
        font-size: $h3_text_size_m;
        text-decoration: none;
        color: $lavender_blues;
        @include desktop {
            padding: 10px;
            font-size: $h3_text_size_dt;  
        }
    }
    &__link {
        padding: 20px;
        text-decoration: none;
        color: $eerie_black;
        border-radius: 30px;
        @include desktop {
            padding: 20px;            
        }
    }
    &__link:hover {
        background-color: $bluebell;
        color: $white;
        transition: 0.4s;
    }    
}