@use '../../partials/breakpoints' as *;
@use '../../partials/colors' as *;
@use '../../partials/textstyles' as *;
@use '../../partials/typeface' as *;

.navBar {
    &__container {
        padding: 10px;
        top: 0;
        position: sticky;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
    }
}