
$white: #FFF;
$feather_grey: #FBFBFB;
$quick_silver: #787474;

$soft_mint: #8DB698;
$dark_mint: #31906E;

$pale_lavender: #DED6F1;
$bluebell: #9F9FCA;
$lavender_blues: #858CBC;
$dark_electric_blue: #5A6186;

$dark_violet: #3A3A5D;
$eerie_black: #111424;