//  curly style
@font-face {
    font-family: 'Petit Formal Script';
    src: url('../assets/fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf') format('truetype');
}

// thin straight style
@font-face {
    font-family: 'Josefin Sans Extra Light';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Regular';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
}